.wrapper {
    display: flex;
    background: black;
    flex-direction: column;
    color: white;
    border-radius: 2%;
    text-align: center;

    margin: 8% 35%;
    padding: 2%;
    border: 2px solid black;
}